<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/pokestyle.css">
    <title></title>
  </head>
  <body>
    <h1><a href='/pokemons'>Pokedex</a></h1>
    <%= yield %>
  </body>
</html>
